<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.home"><i class="icon-speedometer"></i> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.poapp"><i class="fa fa-file-text-o"></i>PO Approval</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.home"><i class="fa fa-align-left"></i>PR Approval</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.home"><i class="fa fa-bar-chart"></i>Sales Order Discount </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.home"><i class="fa fa-bars"></i> VIM Invoices </a>
            </li>
        </ul>
    </nav>
</div>