<div class="fade-in" ng-init="initHome()">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col col-sm-6 col-lg-3">
                    <div class="card card-inverse card-primary" ng-click="gotoPOApp()">
                        <div class="card-block home-tile">
                            <div class="title-content">
                                <i class="fa fa-file-text-o tile-icon" aria-hidden="true"></i>
                                <h4 class="mb-0 pull-right">{{counts.poSAPApproval}}</h4>
                                <span>Purchase Order Approval</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-lg-3">
                    <div class="card card-inverse card-primary">
                        <div class="card-block home-tile">
                            <div class="title-content">
                                <i class="fa  fa-align-left  tile-icon" aria-hidden="true"></i>
                                <h4 class="mb-0 pull-right">{{counts.prSAPApproval}}</h4>
                                <span>Purchase Req Approval</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-6 col-lg-3">
                    <div class="card card-inverse card-primary">
                        <div class="card-block home-tile">
                            <div class="title-content">
                                <i class="fa fa-bars tile-icon" aria-hidden="true"></i>
                                <h4 class="mb-0 pull-right">{{counts.prSAPApproval}}</h4>
                                <span>Sales Order Discount</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-lg-3">
                    <div class="card card-inverse card-primary">
                        <div class="card-block home-tile">
                            <div class="title-content">
                                <i class="fa  fa-bar-chart  tile-icon" aria-hidden="true"></i>
                                <h4 class="mb-0 pull-right">{{counts.VIMApproval}}</h4>
                                <span>VIM Invoices</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>